.s_body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.5ex; color: #FFFFFF; background-color: #000000}
.s_numberheadings {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; text-transform: capitalize; color: #99FFFF; background-color: #000000}
.s_caption {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.7ex; color: #99FFFF; background-color: #000000; text-transform: none}
.s_default {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.5ex; font-weight: 200; color: #FFFFFF}
.s_titles {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 2ex; font-weight: 100; color: #FFFFFF; background-color: #000000}
.popup_body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.5ex; color: #FFFFFF ; padding-left: 1ex}
.time_text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.5ex; font-weight: 200; color: #000000; background-color: #FFFFFF}
.time_date {  font-family: Arial, Helvetica, sans-serif; font-size: 1.5ex; color: #000000; font-weight: bold; background-color: #FFFFFF}
.letter_body { font-family: "Times New Roman", Times, serif; font-size: 1.5ex; color: #FFFFFF ; padding-left: 1ex }
.gloss_text { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.5ex; font-weight: 200; color: #FFFFFF; background-color: #333333}
.s-numberheadings { font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; text-transform: capitalize; color: #99FFFF }
body {  margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px}
body {  background-color: #000000}
.table-gt {  border: 5px #CCCCCC solid}
.s_bluebody { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #CCFFFF; background-color: #000000 }
.table-cs { border: 5px #CCffCC solid}
.s_greenbody { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #CCFFcc; background-color: #000000 ; vertical-align: top}
.table-d { border: 2px #FFFFCC solid; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px}
a:active {  text-decoration: none}
a:visited {  text-decoration: none}
a:active {  }
a:visited {  }
a:link {  }
a:link {  text-decoration: none}
a:link {  }

.jg_body        { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.5ex; margin-top: 3px; margin-right: 3px; margin-bottom: 3px; margin-left: 3px; }
.jg_table_body  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.5ex; background-color: #333333; }
.jg_table_error { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1.5ex; background-color: #660000; }
